#viz
  %canvas#analyser{width: 1024, height: 500}
  %canvas#wavedisplay{width: 1024, height: 500}
#controls
  #pacient-wrapper
    %select#pacienti
      %option{value: 'new'}
        Nový pacient
      - @pacienti.each do |pacient|
        %option{value: pacient.id}
          = "#{pacient.id}: #{pacient.display_name}"
    %form#pacient
      = hidden_field_tag 'pacient_id', @pacient_id
      = text_field_tag 'meno', @meno, placeholder: 'Meno'
      = text_field_tag 'priezvisko', @priezvisko, placeholder: 'Priezvisko'
      = number_field_tag 'vek', @vek, placeholder: 'Vek'
      = label_tag 'pohlavie', 'Pohlavie'
      = select_tag 'pohlavie', options_for_select(Pacient.pohlavia.keys)
  #nahravka-wrapper
    %select#recordingFiles
      %option{value: 'new'}
        Nová nahrávka
      - @nahravky.each do |nahravka|
        %option{value: nahravka.id}
          = nahravka.id
    = image_tag 'mic128.png', id: 'record', onclick: 'toggleRecording(this)'
    %audio#play{style: 'display:none;', controls: true}
      %source{src: '', type: 'audio/wav'}
      Váš prehliadač nepodporuje prehrávanie audio súborov.
    #analysis
      #analysisResult
      %img#loader{src: 'assets/loader.svg', style: 'max-height: 100%; max-width: 100%; display:none;'}
